
body{background-color:#fff}
#content{padding-bottom:0}
.screen{position:relative;width:100%;height:480px;background:#ccc}
.screen .promo .panel li{position:absolute;left:0;top:0;width:100%;overflow:hidden}
.screen .promo .panel li .item{position:relative;width:890px;height:480px;left:50%;margin-left:-590px}
.screen .promo .panel li img{height:480px;width:100%;vertical-align:top}
.screen .promo .trigger{position:absolute;left:50%;top:440px;margin-left:-55px;z-index:10}
.screen .promo .trigger a{display:inline-block;width:8px;height:8px;margin:0 5px;border:2px solid #fff;border-radius:50%}
.screen .promo .trigger .cur{border:2px solid #37B5F9}
.screen .service{position:absolute;left:50%;top:0;width:300px;padding:10px 0;margin-left:290px}
.screen .service .new{min-height:101px}
.screen .service .hot,.screen .service .new{padding:15px 30px;background:#fff}
.screen .service .hot li{position:relative;padding:15px 0;border-bottom:1px solid #eee}
.screen .service .hot li a{display:block}.screen .service .hot li h2{font-size:18px}
.screen .service .hot li .desc{color:#999;font-size:14px}
.screen .service .hot .phone{height:101px;border:0}
.screen .service .hot .phone a{height:101px}
.screen .service .hot li .pic{position:absolute;right:0;bottom:-15px;width:95px;height:125px}
.screen .service .new .btn-order{padding:6px 20px}
.guide{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.7);background:#000\9;filter:alpha(opacity=90);z-index:2000}
.guide .step01{position:absolute;left:50%;top:0;margin-left:-590px}
.guide .step01 a{position:absolute;right:0;bottom:0;width:90px;height:36px;background:url(about:blank)}
.guide .step02{position:absolute;left:50%;top:0;margin-left:131px}
.guide .step02 a{position:absolute;left:0;bottom:0;width:90px;height:36px;background:url(about:blank)}
.guide .step03{position:absolute;left:50%;top:126px;margin-left:-85px}
.guide .step03 a{position:absolute;left:50px;top:216px;width:90px;height:36px;background:url(about:blank)}
.guide .close{position:absolute;right:10px;top:10px;width:30px;height:30px;line-height:30px;text-align:center;font-size:30px;color:#ccc}
.search{position:absolute;left:0;bottom:0;width:100%;z-index:10}
.search .action{position:relative;width:100%;height:55px;padding-top:15px;margin-left:auto;margin-right:auto;z-index:1}
.search .form{position:relative;left:50%;width:710px;margin-left:-355px}
.search .form .keyword .icon-addr{position:absolute;left:8px;top:8px;color:#999}
.search .txt{float:left;width:290px;height:30px;line-height:30px;padding:5px 10px 5px 30px;border:0;border-bottom-left-radius:3px;border-top-left-radius:3px}
.search .form .btn-search{position:absolute;top:0;right:0;width:120px;height:40px;padding:0;line-height:40px;font-size:14px;border-top-left-radius:0;border-bottom-left-radius:0}
.search .form .btn-search .icon-search{font-size:18px;color:#999}
.search .action .keyword a{color:#fff;margin-right:20px;font-size:14px}
.search .action .keyword a:hover{text-decoration:underline}
.search .action .btn-mine{width:255px;height:50px;line-height:50px;padding:0}
.search .action .or{color:#fff;margin-left:auto;margin-right:auto}
.search .bg{position:absolute;left:0;top:0;width:100%;height:100%;margin:0 auto;background:#000;opacity:.6;filter:alpha(opacity=60);border-radius:3px}
.sel-area,.sel-huxing{width:130px;height:40px;background:#fff}
.sel-area .select,.sel-huxing .select{display:block;width:120px;height:40px;padding-left:10px;line-height:40px;font-size:14px;color:#999;border-left:1px solid #eee}
.search .cur .option,.search .cur .option{display:block}
.sel-area .option li a,.sel-huxing .option li a{display:block;padding-left:10px;font-size:14px;height:30px;line-height:30px;background:#fff}
.sel-area .option li a:hover,.sel-huxing .option li a:hover{background:#eee;color:#333}
.suggest-container{position:absolute;top:60px;left:10px;width:329px;border:1px solid #ccc;z-index:11}
.suggest-container .sug-item{height:38px;padding:0 10px;line-height:38px;background:#fff;color:#999;font-size:14px;vertical-align:top;border-bottom:1px solid #eee}
.suggest-container .sug-item.over{background:#f2f2f2;color:#333}
.suggest-container .sug-item a{color:#333}
.select-container .cter-bd{padding:15px 0 0 15px;height:382px}
.select-container .loading{background:url("http://qhyxpic.image.kujiale.com/static/KNKRBJKDM5CUGAWDABAQAAAA_32x32.gif") no-repeat center center}
.select-container .sl-item{position:relative;float:left;width:308px;padding-bottom:10px;margin-right:10px;border:1px solid #ddd}
.select-container .sl-item .sl-main{height:100px}
.select-container .sl-item .sl-avatar img{display:block;width:308px;height:308px}
.select-container .sl-item .sl-title{font-size:18px;font-weight:400;padding:0 20px}
.select-container .sl-item .sl-village{padding:0 20px}
.select-container .sl-item .sl-mask{display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:#fff;opacity:.2;filter:alpha(opacity=20)}
.select-container .sl-item .j-select{display:none;position:absolute;left:50%;top:160px;width:176px;height:34px;line-height:34px;margin-left:-100px;font-size:18px}
.select-container .sl-item:hover .sl-mask,.select-container .sl-item:hover .j-select{display:block}
.select-container #pagination .page-r{position:relative;left:-50%}.select-container #pagination .page-r-wrapper{position:relative;left:50%}
.layout .hd{padding:52px 0 30px}
.layout .hd h3{font-size:30px;font-weight:400;text-align:center}.step{padding:30px 0;background:#f2f2f2;overflow:hidden}
.step ul{width:1200px}.step li{float:left;margin-right:20px}.step li img{width:280px;height:110px;vertical-align:middle}
.case{padding:0 0 60px}
.case .hd .tabs{margin-top:10px;text-align:center}
.case .hd .tabs a{display:inline-block;padding:5px 25px;margin:0 5px;background:#f2f2f2;font-size:14px;border-radius:3px}
.case .hd .tabs a:hover,.case .hd .tabs .cur{background:#37B5F9;color:#fff}
.case .bd{position:relative;height:880px}
.case .bd .mod{position:absolute;float:left;width:280px;height:280px;overflow:hidden}
.case .bd .mod img{width:320px;height:320px;vertical-align:top}
.case .bd .panel-suggest img{width:280px;height:280px}
.case .bd .mod a:hover .info{height:100%}
.case .bd .mod .info span{position:relative;float:left;margin-right:20px;padding-left:20px;font-size:14px;line-height:24px}
.case .bd .mod .info .tit{height:108px;font-size:36px;overflow:hidden}
.case .bd .mod .info .desc{font-size:16px;margin-top:5px}
.case .bd .mod .info .iconfont{position:absolute;left:0;top:0}
.case .bd .mod0 .info,.case .bd .mod1 .info,.case .bd .mod2 .info,.case .bd .mod3 .info,.case .bd .mod5 .info,.case .bd .mod6 .info{position:absolute;left:0;top:280px;width:100%;height:100%;background:#00D2C2;color:#fff}
.case .bd .mod0 .info .wrap,.case .bd .mod1 .info .wrap,.case .bd .mod2 .info .wrap,.case .bd .mod3 .info .wrap,.case .bd .mod5 .info .wrap,.case .bd .mod6 .info .wrap{padding:50px 40px 0}
.case .bd .mod0 a:hover .info,.case .bd .mod1 a:hover .info,.case .bd .mod2 a:hover .info,.case .bd .mod3 a:hover .info,.case .bd .mod5 a:hover .info,.case .bd .mod6 a:hover .info{top:0}.case .bd .mod4{width:580px;height:580px}
.case .bd .mod4 img{height:580px;width:auto;margin-left:-100px}
.case .bd .panel-suggest .mod4 img{margin:0}
.case .bd .mod4 .info{position:absolute;left:0;bottom:0;width:100%;height:180px;background:#007A87;color:#fff}
.case .bd .mod4 .info .wrap{padding:30px 30px 0}
.case .bd .mod4 a:hover .wrap{position:absolute;left:0;top:0;right:0;bottom:0;width:360px;height:300px;margin:auto}
.case .bd .mod4 a:hover .desc{display:block;margin-top:30px;font-size:16px}
.case .bd .mod7{width:580px;height:280px}
.case .bd .mod7 img{width:580px;height:auto;margin-top:-100px}
.case .bd .panel-suggest .mod7 img{width:580px;height:280px;margin:0}
.case .bd .mod7 .info{position:absolute;left:0;top:280px;width:100%;height:100%;background:#7C004F;color:#fff}
.case .bd .mod7 .info .wrap{padding:80px 120px 0}
.case .bd .mod7 a:hover .info{top:0}
.case .bd .mod a:hover .record{margin-top:30px}
.case .bd .mod0{left:0;top:0}.case .bd .mod1{left:300px;top:0}
.case .bd .mod2{left:600px;top:0}.case .bd .mod3{left:900px;top:0}
.case .bd .mod4{left:0;top:300px}.case .bd .mod5{left:600px;top:300px}
.case .bd .mod6{left:900px;top:300px}.case .bd .mod7{left:600px;top:600px}
.case .bd .mod4 .info .tit,.case .bd .mod7 .info .tit{height:54px}
.case .bd .set{position:absolute;right:0;top:0}
.case .bd .set .mine{display:block;width:280px;height:220px;padding-top:60px;background:#7C004F;text-align:center}
.case .bd .set .mine h3{font-size:36px;color:#fff;font-weight:400}
.case .bd .set .mine p{font-size:16px;color:#fff}
.case .bd .set .mine .btn-enter{border-color:#fff;color:#fff;padding:10px 50px;margin-top:50px;font-size:16px}
.case .bd .set .mine .btn-enter:hover{background:transparent;color:#fff}.ask{padding:0 0 60px;background:#f2f2f2}
.ask .slide{position:relative;float:left;width:690px;height:400px}
.ask .slide .panel{position:relative}
.ask .slide .panel li{position:absolute;left:0;top:0}
.ask .slide .panel li img{width:690px;height:400px}
.ask .slide .trigger{position:absolute;bottom:10px;left:0;width:100%;text-align:center;font-size:20px}
.ask .slide .trigger a{display:inline-block;width:10px;height:10px;margin:0 5px;overflow:hidden;background:#000;opacity:.5;border-radius:50%;filter:alpha(opacity=50)}
.ask .slide .trigger .cur{background:#fff;opacity:.5;filter:alpha(opacity=50)}
.ask .slide .touch{position:absolute;top:164px;width:40px;height:72px;background:rgba(0,0,0,.4)}
.ask .slide .btn-prev{left:0}
.ask .slide .btn-next{right:0}
.ask .slide .touch .iconfont{position:relative;left:8px;top:20px;color:#fff;font-size:24px}
.ask .slide .btn-next .iconfont{left:12px}.ask .slide .touch:hover{background:rgba(0,0,0,.6)}
.ask .hot{float:right;width:490px;background:#fff;overflow:hidden}
.ask .hot .hot-hd{height:68px;padding:0 20px;line-height:68px;border-bottom:1px solid #eee}
.ask .hot .hot-hd h3{font-size:20px;font-weight:400}
.ask .hot .hot-hd a{padding-right:15px;background:url("http://qhyxpic.oss.kujiale.com/2015/05/19/KVNLGPQKAEUTCC3IAE888888_12x12.png") no-repeat 100% 50%}
.ask .hot ul{width:600px}.ask .hot li{float:left;width:245px;height:165px;text-align:center;border:1px solid #eee;border-left:0;border-top:0}
.ask .hot li a{display:block;height:140px;padding-top:25px}
.ask .hot li a:hover{background:#fbfbfb}
.ask .hot li img{width:60px;height:60px;border-radius:50%}
.ask .hot li .tit{font-size:18px;margin-top:5px}
.ask .hot li .info{color:#999;margin-top:5px}
.ask .hot .btn-enter{padding:10px 50px;font-size:16px}
.gallery{width:auto;background:#fff}
.gallery .hd p,.tool .hd p{color:#999;font-size:16px}
.gallery .bd{width:auto;overflow:hidden}
.gallery .item{position:relative;float:left;height:400px;width:50%;overflow:hidden;*width:49.9999%}
.gallery .item li{position:relative;float:left}
.gallery .item li a{position:absolute;left:0;right:0;display:block;width:100%;height:100%}
.gallery .item li img{vertical-align:top}
.gallery .item li .bg{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=60)}
.gallery .item li .info{position:absolute;left:0;bottom:-130px;height:130px;width:100%;padding:0;font-size:14px;color:#fff;z-index:2;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(1,rgba(0,0,0,.5)))}
.gallery .item li .info a{padding-top:20px;color:#fff;z-index:10}
.gallery .item li .tit,.gallery .item li .con{position:relative;z-index:2}
.gallery .tit{font-size:24px;font-weight:700}
.gallery .con{height:42px;margin:0 10% 19px;overflow:hidden}
.gallery .item .fold{position:absolute;left:0;top:0;width:40%;overflow:hidden}
.gallery .item .unfold{position:absolute;right:0;top:0;width:60%;overflow:hidden}
.gallery .item-s .fold{right:0;left:auto}
.gallery .item-s .unfold{left:0;right:auto}
.tool{padding:0 0 60px;background:#f2f2f2}
.tool .bd{width:1180px;overflow:hidden}
.tool .bd ul{width:1200px}
.tool .item{position:relative;float:left;width:380px;height:510px;margin:0 20px 0 0;overflow:hidden}
.tool .item .pic img{width:380px;height:380px}
.tool .info{position:absolute;left:0;bottom:0;height:100px;width:100%;padding:30px 0 0;font-size:14px;color:#fff;z-index:2;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(1,rgba(0,0,0,.5)))}
.tool .tit{font-size:24px;font-weight:400}
.tool .con{margin-top:5px}
.tool .bd .item-01 .info{background:#00D2C2}
.tool .bd .item-02 .info{background:#007A87}
.tool .bd .item-03 .info{background:#FFB400}
.tool .bd .action span{border:1px solid #fff;color:#fff;border-radius:3px;padding:6px 12px}
.tool .bd a:hover{text-decoration:underline}
.tool .bd a:hover .action{display:block}
.tool .bd a:hover .info{height:330px;padding-top:180px}
.tool .bd .item-01 .action span:hover{background:#fff;color:#00D1C1}
.tool .bd .item-02 .action span:hover{background:#fff;color:#007A87}
.tool .bd .item-03 .action span:hover{background:#fff;color:#E3AF24}
.tool .ft a{color:#fff}.tool .ft a:hover{text-decoration:underline}
.cooperation{background:#fff}.cooperation .hd{padding:50px 0 0}
.cooperation .hd h3{font-size:20px}
.cooperation .bd{width:1180px;padding:30px 0 50px;overflow:hidden}
.cooperation .bd ul{width:1300px}
.cooperation .bd li{float:left;width:220px;height:100px;margin:0 20px 20px 0}